%nav.navbar.navbar-dark.bg-dark.sticky-top.navbar-expand-sm.py-0
  .container
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    = link_to "Project Name", root_path, class: "navbar-brand"
    #navbar.navbar-collapse.collapse
      %br
      - if current_user
        %ul.navbar-nav.ml-auto
          %li.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = profile_image_for(current_user, size: 30) + current_user.username
              %span.caret
            .dropdown-menu
              - if current_user.try(:admin?)
                = link_to '<i class="fa fa-tachometer" aria-hidden="true"></i> Admin Dash'.html_safe, admin_path, class: "dropdown-item"
              = link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'.html_safe, edit_user_registration_path(current_user), class: "dropdown-item"
              .dropdown-divider{:role => "separator"}
              = link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out'.html_safe, destroy_user_session_path, :method => :delete, class: "dropdown-item"
      - else
        = link_to "Sign Up", new_user_registration_path, class: "btn btn-sm align-middle btn-primary ml-auto btn-margin-left"
        = link_to "Sign In", new_user_session_path, class: "btn btn-sm align-middle btn-primary btn-margin-left btn-margin-right"
      .pad-bottom
