!!!
%html
  %head
    %title StarterBootstrap
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    = render 'layouts/toastr'
    = yield


    #reusable_modal.modal.fade{:role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          / this is where the content will be placed by the script

    = render 'layouts/modal'
          
    .container
      %hr
        %footer
          %p &copy; Company 2015
